{{ include.intro | markdownify }}

{% for project in include.collection reversed %}
{%- assign plain_excerpt = project.excerpt | strip_html | normalize_whitespace -%}
{%- assign plain_content = project.content | strip_html | normalize_whitespace -%}
{%- if project.path contains "_projects/consulting" -%}
{%- assign company_id = "personal" -%}
{%- else -%}
{%- assign company_id = project.company | default: "personal" | slugify -%}
{%- endif -%}
{%- assign project_classes = "project " -%}
{%- for tag in project.tags -%}
{%- assign t = tag | slugify -%}
{%- assign project_classes = project_classes | append: "project-type-" | append: t -%}
{%- unless forloop.last -%}
{%- assign project_classes = project_classes | append: " " -%}
{%- endunless -%}
{%- endfor -%}
  <hr>

  <div class="{{ project_classes }}" data-company="{{ company_id }}">
    <h2 id="{{ project.title | slugify }}">
      {% if plain_excerpt == plain_content %}
        {{ project.title | smartify }}
      {% else %}
        <a href="{{ project.url | relative_url }}">{{ project.title | smartify }}</a>
      {% endif %}
    </h2>

    {% if project.project_type == "work" and project.company %}
      <p class="post-meta">{{ project.company }} ({{ project.date | date: "%b %Y" }})</p>
    {% endif %}

    {{ project.excerpt | markdownify }}

    <p>Tags: {{ project.tags | sort | join: ", " | smartify }}</p>

    {% if project.github %}
      <p><a href="{{ project.github }}">View on GitHub &rarr;</a></p>
    {% endif %}
  </div>
{% endfor %}
