.markdown-preview-view h1:before {
  content: "# ";
}
.markdown-preview-view h2:before {
  content: "## ";
}

.markdown-preview-view h3:before {
  content: "### ";
}

.markdown-preview-view h4:before {
  content: "#### ";
}

.markdown-preview-view h5:before {
  content: "##### ";
}

.markdown-preview-view h6:before {
  content: "###### ";
}

.markdown-preview-view hr {
  text-align: center;
  height: 1.5em;
  line-height: 1.5em;
  margin: 1.5em 0 1.5em;
  border: none;
  color: var(--text-faint);
}

.markdown-preview-view hr::before {
  content: "* * * * *";
}

.markdown-preview-view a[href]::before {
  content: "[";
}
.markdown-preview-view a[href]::after {
  content: "]";
}

.markdown-preview-view em:not([class])::before,
.markdown-preview-view em:not([class])::after {
  content: "_";
}

.markdown-preview-view strong:not([class])::before,
.markdown-preview-view strong:not([class])::after {
  content: "**";
}


.markdown-preview-view ul:not([class]) {
  /* margin: 1.5em 0ch 0 2ch; */
  margin-left: 2ch;
  margin-right: 0ch;
  padding: 0;
}

.markdown-preview-view > ul:not([class]) {
  margin-left: 0;
}

.markdown-preview-view li ul:not([class]) {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-preview-view ul:not([class]) {
  list-style: none;
}

.markdown-preview-view ul:not([class]) > li::before {
  float: left;
  width: 1ch;
  margin-left: -2ch;
  margin-right: 1ch;
  content: "*";
}

.markdown-preview-view ol:not([class]) {
  /* margin: 1.5em 0ch 1.5em 3ch; */
  margin-left: 3ch;
  margin-right: 0ch;
  padding: 0;
}

.markdown-preview-view li ol:not([class]) {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-preview-view ol:not([class]) {
  list-style: none;
  counter-reset: rmd-ol;
}

.markdown-preview-view ol:not([class]) > li {
  counter-increment: rmd-ol;
}

.markdown-preview-view > ol:not([class]) {
  margin-left: 0;
}

.markdown-preview-view ol:not([class]) > li::before {
  float: left;
  margin-left: -3ch;
  margin-right: 1ch;
  min-width: 2ch;
  content: counter(rmd-ol) ".";
}

.markdown-preview-view.ol-alpha ol:not([class]) {
  list-style: none;
  counter-reset: rmd-ol;
}

.markdown-preview-view.ol-alpha ol:not([class]) > li {
  counter-increment: rmd-ol;
}

.markdown-preview-view.ol-alpha ol:not([class]) > li::before {
  float: left;
  margin-left: -4ch;
  margin-right: 1ch;
  min-width: 2ch;
  content: counter(rmd-ol, lower-alpha) ".";
}

/*

.markdown-preview-view pre code::before,
.markdown-preview-view pre code::after {
  display: none;
}

.markdown-preview-view pre {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  tab-size: 4;
}

.markdown-preview-view pre {
  margin-left: 4ch;
  margin-right: 0ch;
}
.markdown-preview-view pre::before,
.markdown-preview-view pre::after {
  content: "```";
  position: relative;
  top: 0.25em;
  display: block;
  width: 100%;
  height: 1.5em;
  cursor: default;
}

*/
  /*
  blockquote {
    border-left: 0;
    padding-left: 2ch;
    position: relative;

  }

  // Spacing not quite right
  blockquote::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1ch;
    overflow: hidden;
    white-space: pre;
    content: ">\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a>\a";
    cursor: default;
  }
  */

  // Markdown accents
  em:not([class])::before,
  em:not([class])::after {
    content: "_";
  }

  strong:not([class])::before,
  strong:not([class])::after {
    content: "**";
  }

  code::before,
  code::after {
    content: "`";
  }
  pre code::before,
  pre code::after {
    display: none;
  }
