{%- assign page_url = page.url | remove_first: "index.html" | absolute_url -%}
{%- assign current_page = page.url | remove_first: "index.html" | relative_url -%}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" data-color-mode="light">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | normalize_whitespace | truncate: 200 }}{% else %}{{ site.description }}{% endif %}">

    <link href="https://github.com/itspriddle" rel="me">
    <link rel="author" type="text/plain" href="{{ "/humans.txt" | absolute_url }}">
    <link rel="canonical" href="{{ page_url }}">
    <meta property="og:url" content="{{ page_url }}" />
    <meta property="og:site_name" content="{{ site.title | smartify }}" />

    <link rel="stylesheet" href="{{ "/stylesheets/main.css" | relative_url }}?{% include helpers/asset-hash.html %}">

    <title>{% include helpers/page-title.html %}</title>

    <meta property="og:title" content="{% include helpers/page-title.html %}" />
    <meta name="author" content="{{ site.author.name }}" />
    <meta property="og:locale" content="en" />
    <meta property="og:type" content="website" />
  </head>

  <body>
    <header class="site-header">
      <div class="wrapper">
        <!--
        <a class="site-title" href="/" title="{{ site.title }}">
          {{ site.title }}
        </a>
        -->

        <nav class="site-nav" style="text-transform: lowercase">
          <a class="page-link" href="/" title="{{ site.title }}">{{ site.title }}</a> /

          {% if current_page == "/work/" %}
            <u>Work</u>
          {% else %}
            <a class="page-link" href="{{ "/work/" | relative_url }}">Work</a>
          {% endif %}
          /
          {% if current_page == "/oss/" %}
            <u>OSS</u>
          {% else %}
            <a class="page-link" href="{{ "/oss/" | relative_url }}">OSS</a>
          {% endif %}
        </nav>
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer">
      <div class="wrapper">
        <div class="footer-col-wrapper">
          <div class="footer-col">
            <a href="{{ site.url }}" title="{{ site.title }}">{{ site.title }}</a>
            by <span class="color-mode-toggle">{{ site.author.name }}</span>
          </div>
        </div>
      </div>
    </footer>

    <script>
      const colorPref = window.matchMedia('(prefers-color-scheme: dark)');

      colorPref.addEventListener("change", (e) => {
        if (localStorage.getItem('color-mode')) {
          return;
        }

        if (e.matches) {
          document.documentElement.setAttribute('data-color-mode', 'dark')
        } else {
          document.documentElement.setAttribute('data-color-mode', 'light')
        }
      });

      if (
        localStorage.getItem('color-mode') === 'dark' ||
        (colorPref.matches &&
          !localStorage.getItem('color-mode'))
      ) {
        document.documentElement.setAttribute('data-color-mode', 'dark')
      }

      const toggleColorBtns = document.querySelectorAll('.color-mode-toggle');

      if (window.CSS && CSS.supports('color', 'var(--primary)')) {
        const setColorMode = (mode) => {
          document.documentElement.setAttribute('data-color-mode', mode);

          localStorage.setItem('color-mode', mode);
        };

        const toggleColorMode = (e) => {
          const currentMode = document.documentElement.getAttribute('data-color-mode');
          const nextMode = currentMode === 'dark' ? 'light' : 'dark';
          setColorMode(nextMode);
        };

        const colorSchemeHotKeys = (e) => {
          // ctrl-i to toggle
          if (e.ctrlKey && e.which == 73) {
            const invertColorSchemeValue = document.documentElement.getAttribute('data-color-mode') === "dark" ? "light" : "dark";
            setColorMode(invertColorSchemeValue);
          }

          // ctrl-shift-i to set to auto
          //if (e.ctrlKey && e.shiftKey && e.which == 73) {
          //  setColorMode();
          //}
        }

        document.addEventListener("keyup", colorSchemeHotKeys, false);

        toggleColorBtns.forEach((btn) => {
          btn.addEventListener('click', toggleColorMode);
        });
      } else {
        toggleColorBtns.forEach((btn) => {
          btn.style.display = 'none';
        });
      }

    </script>
  </body>
</html>
